@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
  --font-handwriting: "Nothing You Could Do", cursive;

  --color-primary: #FF8E28;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
